@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-stone: var(--stone);
  --color-zinc: var(--zinc);
  --color-green: var(--green);
  --color-light-green: var(--light-green);
  --color-dark-green: var(--dark-green);
}

:root {
  --color-stone: oklch(0.2645 0 0);
  --color-zinc: oklch(0.1822 0 0);
  --color-green: oklch(0.5602 0.149407 151.3876);
  --color-dark-green: oklch(0.4602 0.149407 151.3876);
  --color-light-green: oklch(0.7409 0.2239 144.58);
}
